<h1> <%= @cats.name %></h1>
<br>

<table>
  <tr>
    <th>Details</th>
    <th>Value</th>
  </tr>
  <% [:age, :birth_date, :color, :sex].each do |detail| %>
    <tr>
      <td><%= detail %></td>
      <td><%= @cats.send(detail) %></td>
    </tr>
  <% end %>
</table>
<br>
<a href="<%= edit_cat_url(@cats) %>">Edit <%= @cats.name %></a>
<br>
<br>
<a href="<%=cats_url%>">Back to Cats</a>